<a href="https://colab.research.google.com/github/michelmalki/MichelMalki/blob/main/CCCS_680_Assignment_3_Question1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pyspark Setup and CSV Input

The following notebook helps to setup pyspark on Colab as shows you how to read and extract contents from a CSV file.

First we download and install Java, Spark and findspark

In [1]:
!sudo apt update
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://dlcdn.apache.org/spark/spark-3.5.1/spark-3.5.1-bin-hadoop3.tgz
!tar xf spark-3.5.1-bin-hadoop3.tgz
!pip install -q findspark
!pip install pyspark
!pip install py4j

import os
import sys

import findspark
findspark.init()
findspark.find()

import pyspark

from pyspark.sql import DataFrame, SparkSession
from typing import List
import pyspark.sql.types as T
import pyspark.sql.functions as F

spark= SparkSession \
       .builder \
       .appName("CCCS 680 Assignment 3 Question 1 ") \
       .getOrCreate()

spark

Hit:1 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease
Get:2 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease [3,626 B]
Get:3 http://security.ubuntu.com/ubuntu jammy-security InRelease [129 kB]
Ign:4 https://r2u.stat.illinois.edu/ubuntu jammy InRelease
Get:5 https://r2u.stat.illinois.edu/ubuntu jammy Release [5,713 B]
Hit:6 http://archive.ubuntu.com/ubuntu jammy InRelease
Get:7 https://r2u.stat.illinois.edu/ubuntu jammy Release.gpg [793 B]
Get:8 http://archive.ubuntu.com/ubuntu jammy-updates InRelease [128 kB]
Hit:9 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease
Hit:10 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease
Hit:11 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Hit:12 http://archive.ubuntu.com/ubuntu jammy-backports InRelease
Get:13 https://r2u.stat.illinois.edu/ubuntu jammy/main amd64 Packages [2,550 kB]
Get:14 http://security.ubuntu.com/ubuntu jammy-security/main amd64 Packages [2,104 kB]
Get:15 https://r2u.stat.illinois.edu/ubuntu jammy/main all Packages [8,204 kB]
Get:16 http://security.ubuntu.com/ubuntu jammy-security/restricted amd64 Packages [2,771 kB]
Get:17 http://security.ubuntu.com/ubuntu jammy-security/universe amd64 Packages [1,129 kB]
Get:18 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 Packages [2,378 kB]
Get:19 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 Packages [1,420 kB]
Get:20 http://archive.ubuntu.com/ubuntu jammy-updates/restricted amd64 Packages [2,858 kB]
Fetched 23.7 MB in 7s (3,445 kB/s)
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
49 packages can be upgraded. Run 'apt list --upgradable' to see them.
W: Skipping acquire of configured file 'main/source/Sources' as repository 'https://r2u.stat.illinois.edu/ubuntu jammy InRelease' does not seem to provide it (sources.list entry misspelt?)
Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 2.2 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488490 sha256=460df7140a6a7d10dea780b420ef6e0da22cf4799c0a273698160b339773eddf
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1
Requirement already satisfied: py4j in /usr/local/lib/python3.10/dist-packages (0.10.9.7)

Now we map our google drive. Note that you will be prompted for your google account credentials and be provided with an authorization code to insert. The contents of your google drive storage will be mounted at `/content/drive`.

In [2]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [3]:
purchases_df = spark.read.csv('/content/drive/My Drive/CCCS-680 Assignment 3/purchases.txt.gz', inferSchema=True, header=False, sep='\t')

In [4]:
purchases_df.show()

+----------+-------------------+--------------+--------------------+------+----------+
|       _c0|                _c1|           _c2|                 _c3|   _c4|       _c5|
+----------+-------------------+--------------+--------------------+------+----------+
|2012-01-01|2024-07-25 09:00:00|      San Jose|      Men's Clothing|214.05|      Amex|
|2012-01-01|2024-07-25 09:00:00|    Fort Worth|    Women's Clothing|153.57|      Visa|
|2012-01-01|2024-07-25 09:00:00|     San Diego|               Music| 66.08|      Cash|
|2012-01-01|2024-07-25 09:00:00|    Pittsburgh|        Pet Supplies|493.51|  Discover|
|2012-01-01|2024-07-25 09:00:00|         Omaha| Children's Clothing|235.63|MasterCard|
|2012-01-01|2024-07-25 09:00:00|      Stockton|      Men's Clothing|247.18|MasterCard|
|2012-01-01|2024-07-25 09:00:00|        Austin|             Cameras| 379.6|      Visa|
|2012-01-01|2024-07-25 09:00:00|      New York|Consumer Electronics| 296.8|      Cash|
|2012-01-01|2024-07-25 09:00:00|Corpus Christi|                Toys| 25.38|  Discover|
|2012-01-01|2024-07-25 09:00:00|    Fort Worth|                Toys|213.88|      Visa|
|2012-01-01|2024-07-25 09:00:00|     Las Vegas|         Video Games| 53.26|      Visa|
|2012-01-01|2024-07-25 09:00:00|        Newark|         Video Games| 39.75|      Cash|
|2012-01-01|2024-07-25 09:00:00|        Austin|             Cameras|469.63|MasterCard|
|2012-01-01|2024-07-25 09:00:00|    Greensboro|                DVDs|290.82|MasterCard|
|2012-01-01|2024-07-25 09:00:00| San Francisco|               Music|260.65|  Discover|
|2012-01-01|2024-07-25 09:00:00|       Lincoln|              Garden| 136.9|      Visa|
|2012-01-01|2024-07-25 09:00:00|       Buffalo|    Women's Clothing|483.82|      Visa|
|2012-01-01|2024-07-25 09:00:00|      San Jose|    Women's Clothing|215.82|      Cash|
|2012-01-01|2024-07-25 09:00:00|        Boston|             Cameras|418.94|      Amex|
|2012-01-01|2024-07-25 09:00:00|       Houston|                Baby|309.16|      Visa|
+----------+-------------------+--------------+--------------------+------+----------+
only showing top 20 rows

## 1.A

What was the total amount sold

In [5]:
purchases_df.select(F.sum(purchases_df._c4)).show()

+--------------------+
|            sum(_c4)|
+--------------------+
|1.0344579532600112E9|
+--------------------+

## 1.B
What is the total number of transactions per store location?

In [6]:
transactions = purchases_df.groupBy(purchases_df._c2).count().show()

+---------------+-----+
|            _c2|count|
+---------------+-----+
|North Las Vegas|40013|
|        Phoenix|40333|
|          Omaha|40209|
|      Anchorage|39806|
|        Anaheim|40086|
|     Greensboro|40232|
|         Dallas|40368|
|        Oakland|39728|
|         Laredo|40342|
|     Scottsdale|40173|
|    San Antonio|40197|
|    Bakersfield|40326|
|        Raleigh|40261|
|    Chula Vista|40080|
|   Philadelphia|40748|
|     Louisville|40099|
|    Los Angeles|40254|
|       Chandler|39826|
|     Sacramento|40561|
|   Indianapolis|40321|
+---------------+-----+
only showing top 20 rows

# 1.C

What is the total sold for every combination of product type and store location

In [7]:
result = purchases_df.groupBy("_c3", "_c2").agg(F.sum("_c4").alias("total_sold"))
result.show()

+-------------------+------------+-----------------+
|                _c3|         _c2|       total_sold|
+-------------------+------------+-----------------+
|  Health and Beauty|   Charlotte|547280.5699999997|
|             Crafts|      Durham|553803.5200000005|
|   Women's Clothing|        Mesa|572868.2699999996|
|            Cameras|       Plano|548115.3300000005|
|Children's Clothing| Los Angeles|574671.8499999995|
|       Pet Supplies|  Fort Wayne|560785.3400000004|
|                CDs|Indianapolis|572676.8100000003|
|     Men's Clothing| Baton Rouge|563814.1699999993|
|   Women's Clothing|      Aurora|551525.0699999997|
|  Health and Beauty|      Aurora|552101.0300000011|
|     Sporting Goods|     Fremont| 544994.409999999|
|             Crafts| Albuquerque|543748.6199999994|
|            Cameras| Bakersfield|547924.4799999984|
|            Cameras|     El Paso|        581664.08|
|          Computers|Indianapolis|560813.3699999992|
|                CDs|     Lubbock|521722.7599999999|
|        Video Games|      Durham|563656.4600000015|
|             Garden|      Austin|582794.6499999998|
|       Pet Supplies|Jacksonville|539193.8699999994|
|  Health and Beauty|     Garland|552989.7900000009|
+-------------------+------------+-----------------+
only showing top 20 rows

# 1.D
What is the maximum amount paid at each separate store location

In [8]:
# I do find maximum amount paid in two different ways
result = purchases_df.groupBy("_c2").agg(F.max("_c4").alias("max_amount"))
result.show()

+---------------+----------+
|            _c2|max_amount|
+---------------+----------+
|North Las Vegas|    499.98|
|        Phoenix|    499.99|
|          Omaha|    499.99|
|      Anchorage|    499.99|
|        Anaheim|    499.98|
|     Greensboro|    499.99|
|         Dallas|    499.99|
|        Oakland|    499.99|
|         Laredo|    499.96|
|     Scottsdale|    499.98|
|    San Antonio|    499.98|
|    Bakersfield|    499.97|
|        Raleigh|    499.99|
|    Chula Vista|    499.99|
|   Philadelphia|    499.98|
|     Louisville|    499.98|
|    Los Angeles|    499.99|
|       Chandler|    499.98|
|     Sacramento|    499.96|
|   Indianapolis|    499.98|
+---------------+----------+
only showing top 20 rows

In [9]:
transactions = purchases_df.groupBy(purchases_df._c2).max().show()

+---------------+--------+
|            _c2|max(_c4)|
+---------------+--------+
|North Las Vegas|  499.98|
|        Phoenix|  499.99|
|          Omaha|  499.99|
|      Anchorage|  499.99|
|        Anaheim|  499.98|
|     Greensboro|  499.99|
|         Dallas|  499.99|
|        Oakland|  499.99|
|         Laredo|  499.96|
|     Scottsdale|  499.98|
|    San Antonio|  499.98|
|    Bakersfield|  499.97|
|        Raleigh|  499.99|
|    Chula Vista|  499.99|
|   Philadelphia|  499.98|
|     Louisville|  499.98|
|    Los Angeles|  499.99|
|       Chandler|  499.98|
|     Sacramento|  499.96|
|   Indianapolis|  499.98|
+---------------+--------+
only showing top 20 rows