<a href="https://colab.research.google.com/github/michelmalki/MichelMalki/blob/main/CCCS_680_Assignment_3_Question_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!sudo apt update
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://dlcdn.apache.org/spark/spark-3.5.1/spark-3.5.1-bin-hadoop3.tgz
!tar xf spark-3.5.1-bin-hadoop3.tgz
!pip install -q findspark
!pip install pyspark
!pip install py4j

import os
import sys


import findspark
findspark.init()
findspark.find()

import pyspark

from pyspark.sql import DataFrame, SparkSession
from typing import List
import pyspark.sql.types as T
import pyspark.sql.functions as F

spark= SparkSession \
       .builder \
       .appName("CCCS 680 Assignment 3 Question 2") \
       .getOrCreate()

spark

Get:1 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease [3,626 B]
Get:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease [1,581 B]
Get:3 http://security.ubuntu.com/ubuntu jammy-security InRelease [129 kB]
Ign:4 https://r2u.stat.illinois.edu/ubuntu jammy InRelease
Get:5 https://r2u.stat.illinois.edu/ubuntu jammy Release [5,713 B]
Hit:6 http://archive.ubuntu.com/ubuntu jammy InRelease
Get:7 https://r2u.stat.illinois.edu/ubuntu jammy Release.gpg [793 B]
Get:8 http://archive.ubuntu.com/ubuntu jammy-updates InRelease [128 kB]
Get:9 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  Packages [962 kB]
Hit:10 http://archive.ubuntu.com/ubuntu jammy-backports InRelease
Get:11 https://r2u.stat.illinois.edu/ubuntu jammy/main amd64 Packages [2,561 kB]
Get:12 https://r2u.stat.illinois.edu/ubuntu jammy/main all Packages [8,264 kB]
Get:13 http://security.ubuntu.com/ubuntu jammy-security/main amd64 Packages [2,221 kB]
Get:14 http://security.ubuntu.com/ubuntu jammy-security/universe amd64 Packages [1,145 kB]
Get:15 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 Packages [1,435 kB]
Get:16 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 Packages [2,499 kB]
Hit:17 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease
Get:18 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease [24.3 kB]
Hit:19 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Get:20 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy/main amd64 Packages [53.3 kB]
Fetched 19.4 MB in 8s (2,362 kB/s)
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
50 packages can be upgraded. Run 'apt list --upgradable' to see them.
W: Skipping acquire of configured file 'main/source/Sources' as repository 'https://r2u.stat.illinois.edu/ubuntu jammy InRelease' does not seem to provide it (sources.list entry misspelt?)
tar: spark-3.5.1-bin-hadoop3.tgz: Cannot open: No such file or directory
tar: Error is not recoverable: exiting now
Collecting pyspark
  Downloading pyspark-3.5.2.tar.gz (317.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.3/317.3 MB 4.9 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.2-py2.py3-none-any.whl size=317812365 sha256=7fcf2f170963b1829051047748a7fa56318c583b97af14e3f353a4caeec0e101
  Stored in directory: /root/.cache/pip/wheels/34/34/bd/03944534c44b677cd5859f248090daa9fb27b3c8f8e5f49574
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.2
Requirement already satisfied: py4j in /usr/local/lib/python3.10/dist-packages (0.10.9.7)

In [2]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [3]:
visitors_df = spark.read.csv('/content/drive/My Drive/CCCS-680 Assignment 3/White_House_Visitor_Records_Requests.csv.gz', inferSchema=True, header=True, sep=',')
visitors_df

DataFrame[NAMELAST: string, NAMEFIRST: string, NAMEMID: string, UIN: string, BDGNBR: int, Type of Access: string, TOA: string, POA: string, TOD: string, POD: string, APPT_MADE_DATE: string, APPT_START_DATE: string, APPT_END_DATE: string, APPT_CANCEL_DATE: string, Total_People: int, LAST_UPDATEDBY: string, POST: string, LastEntryDate: string, TERMINAL_SUFFIX: string, visitee_namelast: string, visitee_namefirst: string, MEETING_LOC: string, MEETING_ROOM: string, CALLER_NAME_LAST: string, CALLER_NAME_FIRST: string, CALLER_ROOM: string, Description: string, RELEASE_DATE: string]

In [4]:
visitors_df.dtypes

[('NAMELAST', 'string'),
 ('NAMEFIRST', 'string'),
 ('NAMEMID', 'string'),
 ('UIN', 'string'),
 ('BDGNBR', 'int'),
 ('Type of Access', 'string'),
 ('TOA', 'string'),
 ('POA', 'string'),
 ('TOD', 'string'),
 ('POD', 'string'),
 ('APPT_MADE_DATE', 'string'),
 ('APPT_START_DATE', 'string'),
 ('APPT_END_DATE', 'string'),
 ('APPT_CANCEL_DATE', 'string'),
 ('Total_People', 'int'),
 ('LAST_UPDATEDBY', 'string'),
 ('POST', 'string'),
 ('LastEntryDate', 'string'),
 ('TERMINAL_SUFFIX', 'string'),
 ('visitee_namelast', 'string'),
 ('visitee_namefirst', 'string'),
 ('MEETING_LOC', 'string'),
 ('MEETING_ROOM', 'string'),
 ('CALLER_NAME_LAST', 'string'),
 ('CALLER_NAME_FIRST', 'string'),
 ('CALLER_ROOM', 'string'),
 ('Description', 'string'),
 ('RELEASE_DATE', 'string')]

In [5]:
visitors_df.show()

+------------+---------+-------+----+------+--------------+----+----+----+----+--------------+---------------+-------------+----------------+------------+--------------+----+-------------+---------------+----------------+-----------------+-----------+------------+----------------+-----------------+-----------+-----------+--------------------+
|    NAMELAST|NAMEFIRST|NAMEMID| UIN|BDGNBR|Type of Access| TOA| POA| TOD| POD|APPT_MADE_DATE|APPT_START_DATE|APPT_END_DATE|APPT_CANCEL_DATE|Total_People|LAST_UPDATEDBY|POST|LastEntryDate|TERMINAL_SUFFIX|visitee_namelast|visitee_namefirst|MEETING_LOC|MEETING_ROOM|CALLER_NAME_LAST|CALLER_NAME_FIRST|CALLER_ROOM|Description|        RELEASE_DATE|
+------------+---------+-------+----+------+--------------+----+----+----+----+--------------+---------------+-------------+----------------+------------+--------------+----+-------------+---------------+----------------+-----------------+-----------+------------+----------------+-----------------+-----------+-----------+--------------------+
| Adamopoulos|   Stella|   NULL|NULL|  NULL|          NULL|NULL|NULL|NULL|NULL|          NULL|         5/1/15|       5/1/15|            NULL|        NULL|          NULL|NULL|         NULL|           NULL|            NULL|             NULL|        VPR|        NULL|            NULL|             NULL|       NULL|Class Visit|08/28/2015 07:00:...|
|     Brosman|   Muriel|   NULL|NULL|  NULL|          NULL|NULL|NULL|NULL|NULL|          NULL|         5/1/15|       5/1/15|            NULL|        NULL|          NULL|NULL|         NULL|           NULL|            NULL|             NULL|        VPR|        NULL|            NULL|             NULL|       NULL|Class Visit|08/28/2015 07:00:...|
|   Brumfield|    Avery|   NULL|NULL|  NULL|          NULL|NULL|NULL|NULL|NULL|          NULL|         5/1/15|       5/1/15|            NULL|        NULL|          NULL|NULL|         NULL|           NULL|            NULL|             NULL|        VPR|        NULL|            NULL|             NULL|       NULL|Class Visit|08/28/2015 07:00:...|
|     Chipman|Catherine|   NULL|NULL|  NULL|          NULL|NULL|NULL|NULL|NULL|          NULL|         5/1/15|       5/1/15|            NULL|        NULL|          NULL|NULL|         NULL|           NULL|            NULL|             NULL|        VPR|        NULL|            NULL|             NULL|       NULL|Class Visit|08/28/2015 07:00:...|
|       Chubb|   Steven|   NULL|NULL|  NULL|          NULL|NULL|NULL|NULL|NULL|          NULL|         5/1/15|       5/1/15|            NULL|        NULL|          NULL|NULL|         NULL|           NULL|            NULL|             NULL|        VPR|        NULL|            NULL|             NULL|       NULL|Class Visit|08/28/2015 07:00:...|
|   Colasante|    Lydia|   NULL|NULL|  NULL|          NULL|NULL|NULL|NULL|NULL|          NULL|         5/1/15|       5/1/15|            NULL|        NULL|          NULL|NULL|         NULL|           NULL|            NULL|             NULL|        VPR|        NULL|            NULL|             NULL|       NULL|Class Visit|08/28/2015 07:00:...|
|      Conway|    Gavin|   NULL|NULL|  NULL|          NULL|NULL|NULL|NULL|NULL|          NULL|         5/1/15|       5/1/15|            NULL|        NULL|          NULL|NULL|         NULL|           NULL|            NULL|             NULL|        VPR|        NULL|            NULL|             NULL|       NULL|Class Visit|08/28/2015 07:00:...|
|         Cox|   Conrad|   NULL|NULL|  NULL|          NULL|NULL|NULL|NULL|NULL|          NULL|         5/1/15|       5/1/15|            NULL|        NULL|          NULL|NULL|         NULL|           NULL|            NULL|             NULL|        VPR|        NULL|            NULL|             NULL|       NULL|Class Visit|08/28/2015 07:00:...|
|      Curtis|  Shannon|   NULL|NULL|  NULL|          NULL|NULL|NULL|NULL|NULL|          NULL|         5/1/15|       5/1/15|            NULL|        NULL|          NULL|NULL|         NULL|           NULL|            NULL|             NULL|        VPR|        NULL|            NULL|             NULL|       NULL|Class Visit|08/28/2015 07:00:...|
|         Day|  Preston|   NULL|NULL|  NULL|          NULL|NULL|NULL|NULL|NULL|          NULL|         5/1/15|       5/1/15|            NULL|        NULL|          NULL|NULL|         NULL|           NULL|            NULL|             NULL|        VPR|        NULL|            NULL|             NULL|       NULL|Class Visit|08/28/2015 07:00:...|
|       Dixon|    Kelly|   NULL|NULL|  NULL|          NULL|NULL|NULL|NULL|NULL|          NULL|         5/1/15|       5/1/15|            NULL|        NULL|          NULL|NULL|         NULL|           NULL|            NULL|             NULL|        VPR|        NULL|            NULL|             NULL|       NULL|    Meeting|08/28/2015 07:00:...|
|      duPont|   Victor|   NULL|NULL|  NULL|          NULL|NULL|NULL|NULL|NULL|          NULL|         5/1/15|       5/1/15|            NULL|        NULL|          NULL|NULL|         NULL|           NULL|            NULL|             NULL|        VPR|        NULL|            NULL|             NULL|       NULL|Class Visit|08/28/2015 07:00:...|
|Erkenbrecher| Benjamin|   NULL|NULL|  NULL|          NULL|NULL|NULL|NULL|NULL|          NULL|         5/1/15|       5/1/15|            NULL|        NULL|          NULL|NULL|         NULL|           NULL|            NULL|             NULL|        VPR|        NULL|            NULL|             NULL|       NULL|Class Visit|08/28/2015 07:00:...|
|       Evans|    Nancy|   NULL|NULL|  NULL|          NULL|NULL|NULL|NULL|NULL|          NULL|         5/1/15|       5/1/15|            NULL|        NULL|          NULL|NULL|         NULL|           NULL|            NULL|             NULL|        VPR|        NULL|            NULL|             NULL|       NULL|Class Visit|08/28/2015 07:00:...|
|     Ferrell|   Joshua|   NULL|NULL|  NULL|          NULL|NULL|NULL|NULL|NULL|          NULL|         5/1/15|       5/1/15|            NULL|        NULL|          NULL|NULL|         NULL|           NULL|            NULL|             NULL|        VPR|        NULL|            NULL|             NULL|       NULL|Class Visit|08/28/2015 07:00:...|
|      Finlay|  Jasmine|   NULL|NULL|  NULL|          NULL|NULL|NULL|NULL|NULL|          NULL|         5/1/15|       5/1/15|            NULL|        NULL|          NULL|NULL|         NULL|           NULL|            NULL|             NULL|        VPR|        NULL|            NULL|             NULL|       NULL|Class Visit|08/28/2015 07:00:...|
|       Green|   Joshua|   NULL|NULL|  NULL|          NULL|NULL|NULL|NULL|NULL|          NULL|         5/1/15|       5/1/15|            NULL|        NULL|          NULL|NULL|         NULL|           NULL|            NULL|             NULL|        VPR|        NULL|            NULL|             NULL|       NULL|Class Visit|08/28/2015 07:00:...|
|       Green|  Michael|   NULL|NULL|  NULL|          NULL|NULL|NULL|NULL|NULL|          NULL|         5/1/15|       5/1/15|            NULL|        NULL|          NULL|NULL|         NULL|           NULL|            NULL|             NULL|        VPR|        NULL|            NULL|             NULL|       NULL|Class Visit|08/28/2015 07:00:...|
|      Hardin|     Luke|   NULL|NULL|  NULL|          NULL|NULL|NULL|NULL|NULL|          NULL|         5/1/15|       5/1/15|            NULL|        NULL|          NULL|NULL|         NULL|           NULL|            NULL|             NULL|        VPR|        NULL|            NULL|             NULL|       NULL|Class Visit|08/28/2015 07:00:...|
|       Homer|  Jeffrey|   NULL|NULL|  NULL|          NULL|NULL|NULL|NULL|NULL|          NULL|         5/1/15|       5/1/15|            NULL|        NULL|          NULL|NULL|         NULL|           NULL|            NULL|             NULL|        VPR|        NULL|            NULL|             NULL|       NULL|Class Visit|08/28/2015 07:00:...|
+------------+---------+-------+----+------+--------------+----+----+----+----+--------------+---------------+-------------+----------------+------------+--------------+----+-------------+---------------+----------------+-----------------+-----------+------------+----------------+-----------------+-----------+-----------+--------------------+
only showing top 20 rows

In [6]:
visitors_df.select("NAMEFIRST","NAMELAST").show(3)

+---------+-----------+
|NAMEFIRST|   NAMELAST|
+---------+-----------+
|   Stella|Adamopoulos|
|   Muriel|    Brosman|
|    Avery|  Brumfield|
+---------+-----------+
only showing top 3 rows

In [ ]:
from pyspark.sql.functions import countDistinct
visitors_df.select(countDistinct('RELEASE_DATE')).show()
visitors_df.groupBy("RELEASE_DATE").count().show()

+----------------------------+
|count(DISTINCT RELEASE_DATE)|
+----------------------------+
|                          60|
+----------------------------+

+--------------------+-----+
|        RELEASE_DATE|count|
+--------------------+-----+
|03/30/2012 07:00:...|  264|
|07/29/2011 07:00:...|   34|
|12/30/2011 08:00:...|    4|
|06/27/2014 07:00:...|    2|
|07/26/2013 07:00:...|   16|
|10/28/2011 07:00:...|    6|
|10/30/2009 07:00:...|    3|
|02/24/2012 08:00:...|    1|
|04/30/2010 07:00:...|  115|
|                NULL|    1|
|07/27/2012 07:00:...|   72|
|12/28/2012 08:00:...|  116|
|11/29/2013 08:00:...|    5|
|03/25/2011 07:00:...|    6|
|08/26/2011 07:00:...|    5|
|09/26/2014 07:00:...|    2|
|06/24/2011 07:00:...|    1|
|05/28/2010 07:00:...|   23|
|11/25/2009 08:00:...|    5|
|04/26/2013 07:00:...|    6|
+--------------------+-----+
only showing top 20 rows

In [ ]:
from pyspark.sql.functions import countDistinct
visitors_df.select(countDistinct("Description"))
visitors_df.groupBy("Description").count().show()

+--------------------+-----+
|         Description|count|
+--------------------+-----+
|   HOLIDAY RECEPTION|  241|
|THIS IS A 20 PERS...|   20|
|WH MENTORING PROG...|   47|
|Susan J. Komen Re...|   54|
|MEETING WITH DEPU...|    2|
|USO Event with Dr...|    2|
| NEW SENATORS DINNER|    1|
|                Tour|    1|
|TOUR (UNDER BRYAN...|    5|
|              TOURS | 4616|
|             TOURS./| 3685|
|           Staff BBQ|   33|
|ST. PATRICK'S DAY...|    1|
|Hispanic Heritage...|   30|
|Breakfast in hono...|    3|
|           WH MESS**|    4|
|            WW TOURS|   17|
|       STATE ARRIVAL| 2116|
|THIS IS FOR A WES...|    3|
|WHITE HOUSE LIAIS...|   35|
+--------------------+-----+
only showing top 20 rows

# 2.A
The 5 most frequent visitors (NAMELAST, NAMEFIRST, NAMEMID) to the
White House.

In [ ]:
spark = SparkSession.builder.appName("WhiteHouseTopVisitors").getOrCreate()
visitors_df = visitors_df.na.fill(" ", subset=["NAMEMID"])
visitors_df = visitors_df.select(visitors_df.NAMELAST, visitors_df.NAMEFIRST, visitors_df.NAMEMID)
visitor_counts = visitors_df.groupBy("NAMELAST","NAMEFIRST","NAMEMID").count()
top_visitors = visitor_counts.orderBy(visitor_counts["count"].desc()).limit(5)
top_visitors.show()

+--------+---------+-------+-----+
|NAMELAST|NAMEFIRST|NAMEMID|count|
+--------+---------+-------+-----+
|  DEMEKE|    MARIA|       |   41|
| NEUFELD|     ADAM|       |   36|
|     KIM|      HUN|      S|   30|
|   MILBY|    SARAH|       |   25|
|  WIDGER|      ANN|       |   25|
+--------+---------+-------+-----+

# 2.B
The 5 most frequently visited people (VISITEE_NAMELAST, VISITEE_NAMEFIRST)
in the White House

In [ ]:
visitors_df = visitors_df.withColumnRenamed("NAMELAST", 'VISITEE_NAMELAST')
visitors_df = visitors_df.withColumnRenamed("NAMEFIRST",'VISITEE_NAMEFIRST')

visitors_df = visitors_df.select(visitors_df.VISITEE_NAMELAST, visitors_df.VISITEE_NAMEFIRST)
visitor_counts = visitors_df.groupBy("VISITEE_NAMELAST","VISITEE_NAMEFIRST").count()
top_visitors = visitor_counts.orderBy(visitor_counts["count"].desc()).limit(5)
top_visitors.show()

+----------------+-----------------+-----+
|VISITEE_NAMELAST|VISITEE_NAMEFIRST|count|
+----------------+-----------------+-----+
|           MIRZA|             ASMA|   48|
|         NEUFELD|             ADAM|   43|
|          DEMEKE|            MARIA|   43|
|       CHILDRESS|             MARK|   39|
|         LAMBREW|           JEANNE|   36|
+----------------+-----------------+-----+

# 3.B
The 5 most frequent visitor-visitee combinations

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, desc
spark = SparkSession.builder.appName("WhiteHouseVisitorVisitee").getOrCreate()
combination = df.select("NAMELAST", "NAMEMID", "NAMEFIRST", "VISITEE_NAMELAST", "VISITEE_NAMEFIRST")\
.groupBy("NAMELAST", "NAMEMID", "NAMEFIRST","VISITEE_NAMELAST","VISITEE_NAMEFIRST")
combination.count().orderBy("count", ascending=False).show(5)

+--------+-------+---------+----------------+-----------------+-----+
|NAMELAST|NAMEMID|NAMEFIRST|VISITEE_NAMELAST|VISITEE_NAMEFIRST|count|
+--------+-------+---------+----------------+-----------------+-----+
|     KIM|      S|      HUN|          KUNDRA|            VIVEK|   22|
|  DEMEKE|   NULL|    MARIA|          BUSSOW|             MARK|   21|
|   YODER|   NULL|     RYAN|          SAHENE|              JR.|   19|
|  HARDIE|      D|     IRIS|          KUNDRA|            VIVEK|   18|
|  DEMEKE|   NULL|    MARIA|        WILLIAMS|            DEBRA|   17|
+--------+-------+---------+----------------+-----------------+-----+
only showing top 5 rows